@font-face {
    font-family: spotify-circular;
    src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2') format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff')
        format('woff'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Book.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: spotify-circular;
    src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff2') format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff')
        format('woff'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: spotify-circular;
    src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Black.woff2') format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Black.woff')
        format('woff'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

html, body {
    height: 100%;
}

body {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    margin: 0px;
    display: block;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 450px;
    margin: 0px auto;
    padding-bottom: 130px;
}

.container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px;
}

.container-header>a{
    cursor: default;
}

#logo-black{
    height: 38px;
    width: 126px;
}

.container-header> h2{
    text-align: center;
    line-height: 48px;
   letter-spacing: -0.04em;
    font-size: 35px;
}

.facebook-login{
    display: flex;
    justify-content: space-around;
    margin-bottom: 22px;
}

.facebook-login-buttom{
    width: 400px;
    height: 3rem;
    font-size: 16px;
    font-weight: 700;
    font-size: inherit;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    position: relative;

    background-color: #405A93;
    color: #fff;
    border-radius: 500px;
    padding: 14px 32px;
    transition-duration: 33ms;
}

.facebook-logo{
    padding-right: 16px;
    padding-top: 5px;
}

.facebook-login-buttom:hover{
    background-color: #31446F;
    transform: scale(1.05);
}

.google-login{
    display: flex;
    justify-content: space-around;
    margin-bottom: 22px;
}

.google-login-buttom{
    width: 400px;
    height: 3rem;
    font-size: 16px;
    font-weight: 700;
    font-size: inherit;
    text-decoration: none;
    border: 2px solid rgb(83, 83, 83);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    position: relative;

    background-color: transparent;
    color: rgb(83, 83, 83);
    border-radius: 500px;
    padding: 14px 32px;
    transition-duration: 33ms;
}

.google-logo{
    padding-right: 16px;
    padding-top: 5px;
}

.google-login-buttom:hover{
    transform: scale(1.05);
}

.divisor{
    display: table;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0px auto 1em;
    color: rgb(127, 127, 127);
    position: relative;
    text-align: center;
    width: 85%;

}

.divisor::before, .divisor::after {
    border-top: 1px solid rgb(204, 204, 204);
    content: "";
    display: table-cell;
    position: relative;
    top: 0.8em;
    width: 42%;
}

form{
    display: block;
    margin-top: 0em;
}

.form-part{
    padding-bottom: 24px;
}

form> .form-part> label, .nascimento{
    box-sizing: border-box;
    width: 100%;

    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;

    align-items: center;
    display: flex;
    font-weight: 700;
    padding-bottom: 8px;
}

form> .form-part> input:hover{
    box-shadow: inset 0 0 0 1px #000;
}

form> .form-part> input{
    border: 0px;
    display: block;
    width: 100%;
    box-sizing: border-box;

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;

    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    padding: 14px;

    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #878787;
    color: #000000;
}

.login-numero {
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: #117a37;
    align-items: center;
    font-size: 14px;
}

.form-part-text{
    color: rgb(24, 24, 24);
    font-size: 14px;

}

.form-part-nascimento{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.label-nascimento{
    font-size: 14px;
    color: black;
}

.input-ano, .input-dia, .input-mês{
    border: 0px;
    display: block;
    width: 100%;
    box-sizing: border-box;

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;

    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 4px;
    padding: 14px;

    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #878787;
    color: #000000;
}

.input-dia:hover, .input-ano:hover, .input-mês:hover{
    box-shadow: inset 0 0 0 1px #000;
}


.form-part-nascimento-dia{
    width: 20%;
}

.form-part-nascimento-mês{
    width: 45%;
}

.form-part-nascimento-ano{
    width: 25%;
}

.radiogroup{
    display: flex;
    flex-wrap: wrap;
}

.radios{
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;

    align-items: center;
    display: flex;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    min-height: 32px
}

.radios-button{
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    border-radius: 50%;
    display: inline-block;

    height: 16px;
    user-select: none;
    width: 16px;

    flex-shrink: 0;
    align-self: flex-start;

    top: 0px;
    position: relative;
}

.radios-label{
    position: relative;
    top: -2px;
    padding-left: 12px;
    padding-right: 24px;
    
    color: #000000;
    font-size: 14px;
}

.checkbox-group{
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    min-height: 32px;
}

.checkbox-box{
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
}

.checkbox-label{
    display: flex;
    position: relative;
}

input:not(:checked) + label .checkbox-indicator{
    border: 1px solid #878787;
}

input:checked + label .checkbox-indicator {
    background-color: var(--essential-bright-accent,#169b45);
    border-width: 0px;
}

input + label .checkbox-indicator{
    background-color: #ffffff;
}

.checkbox-indicator{
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    border-radius: 3px;
    display: inline-block;
    height: 16px;
    user-select: none;
    width: 16px;
    flex-shrink: 0;
    align-self: flex-start;
    top: 0px;
    position: relative;
}

.checkbox-span{
    position: relative;
    top: -2px;
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 24px;
}

.form-link{
    color: rgb(29, 185, 84);
}

.form-link:hover{
    color: rgb(16, 224, 89)
}

.container-footer{
    padding-bottom: 16px;
    text-align: center;
}

.container-footer> .privacidade{
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px 0px 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: inherit;
}

.submit-button{
    position: relative;
    background-color: #1ed760;
    cursor: pointer;

    color: #000000;
    font-size: inherit;
    font-weight: 700;

    border-radius: 500px;
    padding: 16px 48px;
    border: 0px;
}

.submit-button:hover{
    background-color: #13e25c;
    transform: scale(1.03);
}

.login{
    font-size: 15.5px;
}